<div class="row">
  <div class="column"></div>
  <div class="column column-50">
    <h2>Dialog Flow test</h2>
    <small>Testing the bot functionality of dialog flow, and trying to emulate how the platform would be used in it the
      wild</small>
    <br/>
    <br>
    <h3>Demo aims</h3>
    <ul>
      <li>Create Bot-to-human-handoff functionality (guest side + hotelier side)</li>
    </ul>

    <h1>Operator</h1>
    <div class="chat-container">

      <div class="row"></div>

      <!--  Loop through the messages (both bot/operator and guest/customer) and choose css class accordingly -->

      <ng-container *ngFor="let message of messages">

        <div [ngClass]="{ from: message.sentBy === 'operator',   to: message.sentBy === 'customer' }" class="message">
          <!-- Message text -->
          {{message.content}}
        </div>

      </ng-container>

      <div class="form-inline">

        <!--    when the user presses enter, run sendMessage method -->
        <input (keyup.enter)="sendMessage()" [(ngModel)]="messageToSend" aria-describedby="emailHelp"
               class="form-control"
               id="message" placeholder="Your Message" style="width: 65%; margin-right: 0.5rem;" type="text">

        <button class="btn btn-primary">Send Message</button>

      </div>
    </div>

  </div>
