<h2>Admin Settings</h2>

<br>

<p>Used for editing information about bots</p>

<hr>

<div class="form-group col-md-4">
  <label for="Bot">Change Bot Settings</label>
  <select class="form-control" id="Bot">
    <option selected>Choose Bot</option>
    <option *ngFor="let bot of bots">{{bot}}</option>
  </select>
</div>

<hr>

<form (ngSubmit)="createNewIntent()">
  <div class="form-row">
    <div [formGroup]="intentForm" class="form-group col-md-6">
      <label for="intentName">Intent Name</label>
      <input class="form-control" formControlName="intentName" id="intentName" placeholder="Intent Display Name"
             type="text">
    </div>
  </div>

  <hr>

  <div [formGroup]="intentForm">
    <label>Add training phrases</label>
    <div *ngFor="let item of intentForm?.get('trainingPhrases')?.controls; let i = index;"
         formArrayName="trainingPhrases">
      <div [formGroupName]="i" class="form-inline">
        <input class="form-control" formControlName="trainingPhrase" placeholder="Training Phrase">
      </div>
    </div>
    <button (click)="addTrainingPhrase()" type="button">+ training phrase</button>
  </div>

  <hr>

  <div [formGroup]="intentForm">
    <label>Add message responses</label>
    <div *ngFor="let item of intentForm?.get('messageResponses')?.controls; let i = index;"
         formArrayName="messageResponses">
      <div [formGroupName]="i" class="form-inline">
        <input class="form-control" formControlName="messageResponse" placeholder="Message Response">
      </div>
    </div>
    <button (click)="addMessageResponse()" type="button">+ message response</button>
  </div>

  <hr>

  <button class="btn btn-primary" type="submit">Create intent</button>

</form>


