<h1>Celtic Manor Chat Bot</h1>

<br>

<p>Currently working items are </p>

<ul>
  <li>Hotel Address i.e What is the address?</li>
  <li>Checkout time i.e what is the checkout time?</li>
  <li>Things to do i.e What can I do here?</li>
</ul>

<br>
<hr>

<div class="chat-container">
  <div class="row"></div>
  <ng-container *ngFor="let message of messages">
    <div [ngClass]="{
      from: message.sentBy === 'operator',
      to: message.sentBy === 'customer'
    }"
         class="message">
      {{message.content}}
    </div>
  </ng-container>

  <div class="form-inline">
    <input (keyup.enter)="sendMessage()" [(ngModel)]="formValue" aria-describedby="emailHelp" class="form-control"
           id="message"
           placeholder="Your Message" style="width: 65%; margin-right: 0.5rem;" type="text">

    <button class="btn btn-primary ">
      Send Message
    </button>

  </div>
</div>





