<h1>Celtic Manor Chat Bot</h1>

<br>

<p>Currently working items are </p>

<ul>
  <li>Hotel Address i.e What is the address?</li>
  <li>Checkout time i.e what is the checkout time?</li>
  <li>Things to do i.e What can I do here?</li>
</ul>

<br>

<ng-container *ngFor="let message of messages">
  <div [ngClass]="{
      from: message.sentBy === 'operator',
      to: message.sentBy === 'customer'
    }"
       class="message">
    {{message.content}}
  </div>
</ng-container>

<div>
  <mat-form-field appearance="legacy" style="width: 100%">
    <mat-label>Your Message</mat-label>
    <input (keyup.enter)="sendMessage()" [(ngModel)]="formValue" matInput placeholder="Your Message">
    <mat-icon matSuffix>send</mat-icon>
  </mat-form-field>

</div>
